<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" > <!-- mybatis DTD 문서 정리 태그 -->

<configuration>
	<settings>
        <!-- <setting name="logImpl" value="STDOUT_LOGGING"/> -->
        <!-- log를 남기는 코드 -->
        
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

	<typeAliases>
	</typeAliases>
    
</configuration>
