body {
    font-family: Arial, sans-serif;
    background-color: #E2F1E7;
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.calendar {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.month {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.month button {
    margin: 0 10px;
    padding: 5px 10px;
    border: none;
    background: #387478;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.month button:hover {
    background: #243642;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-bottom: 2px solid #ccc;
}

.day {
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.date-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.date {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.transaction {
    margin-top: 5px;
    font-size: 12px;
}

.details {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}
