@import "color.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}
.container_top {
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.container_bottom {
    background-color: var(--background-color);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
}
.top {
    background: var(--sidebar-bg);
    align-items: center;
    color: white;
    padding: 20px;
    border-top-left-radius: 20px; border-top-right-radius: 20px;
}

@media screen and (max-width: 600px) {
    .container_top, .top {
        display: none;
    }
}

.bottom {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;
}
.bottom_cont, .sign-up {
    margin-left: 10%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p.bottom_cont, .sign-up p, .main_page p {
    margin-bottom: 20px;
    color: var(--text-color2);
}

/* label[for="username"], label[for="password"] {
    margin-bottom: 5px;
    display: block;
    margin-left: 10%;
} */

input[type="email"],
input[type="password"] {
    width: 80%;
    height: 60px;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-left: 10%;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10%;
    color: var(--text-color2);
}
.remember {
    display: flex;
    & p {
        margin-left: 10px;
    }
}


input[type="checkbox"] {
    display: none; /* 기본 체크박스 숨기기 */
}

input[type="checkbox"] + label {
    position: relative;
    padding-left: 25px; /* 체크박스 공간 */
    cursor: pointer;
}

input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* 체크박스 크기 */
    height: 20px; /* 체크박스 크기 */
    border: 2px solid var(--third-color); /* 테두리 색 */
    border-radius: 8px; /* 모서리 둥글게 */
    background-color: white; /* 배경색 */
    transition: background-color 0.3s, border-color 0.3s; /* 애니메이션 효과 */
}

input[type="checkbox"]:checked + label:before {
    background-color: var(--secondary-color); /* 체크박스 체크 시 배경색 */
    border-color: var(--secondary-color); /* 체크 시 테두리 색 */
}

input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 8px; /* 체크 표시 위치 */
    top: 3px; /* 체크 표시 위치 */
    width: 5px; /* 체크 표시 두께 */
    height: 10px; /* 체크 표시 높이 */
    border: solid white; /* 체크 표시 색 */
    border-width: 0 2px 2px 0; /* 체크 표시 형태 */
    transform: rotate(45deg); /* 체크 표시 회전 */
}

.login-btn {
    background-color: var(--third-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 20px;
}

.login-btn:hover {
    background-color: var(--secondary-color);
}

.sign-up {
    display: flex;
    flex-direction: column; /* 세로 방향으로 나열 */
    justify-content: space-between;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}
.sign-up a {
    text-align: right;
    text-decoration: none;
    color: var(--secondary-color);
}

/* 미디어 쿼리 추가 */
@media (max-width: 600px) {
    .sign-up {
        flex-direction: column; /* 모바일에서 세로 방향으로 나열 */
    }

    .forgot-password {
        margin-left: 0; /* 모바일에서는 왼쪽 여백 제거 */
        margin-top: 10px; /* 간격 추가 */
    }
}

.sign-up a:hover {
    text-decoration: underline;
}

.main_page{
    display: flex;
    justify-content: right;
    width: 90%;
}
.main_page2 {
    text-decoration: none;
    color: var(--secondary-color);
}
.main_page2:hover {
    text-decoration: underline;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px; margin-left: 10%; margin-right: 10%;

    &:before,
    &:after {
        content: "";
        flex: 1; /* 양쪽 선이 동일한 비율로 늘어남 */
        height: 1px; /* 선의 두께 */
        background-color: #ccc; /* 선의 색상 */
    }

    & span {
        padding: 0 10px; /* 텍스트 주변 여백 */
        color: #999; /* 텍스트 색상 */
        font-size: small;
    }
}

.sns-login {
    display: flex;
    justify-content: space-between;
    margin-left: 4em; margin-right: 4em;
    margin-bottom: 1em;
}

.naver_login, .kakao_login, .google_login {
    background-size: cover;
    background-repeat: no-repeat;
    width: 4em; height: 4em;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    /*margin-right: 2em; margin-left: 2em;*/
    margin-bottom: 10px;
}
.naver_login {
    background-image: url("../../images/naver_sns_circle.png");
}
.kakao_login {
    background-image: url("../../images/kakao_sns_circle.png");
}
.google_login {
    background-image: url("../../images/google_sns_circle.png");
}