* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #E2F1E7;
}

.container {
    display: flex;
    flex-direction: column;
    height: 80%;
}
@media (min-width: 901px) {
    .container {
        flex-direction: row;
        width: 80%;
        margin: auto;
    }
}

.left {
    flex: 1;
    background: linear-gradient(135deg, #243642 0%, #629584 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 20px;
    border-top-left-radius: 20px; border-bottom-left-radius: 20px;
}

.right {
    flex: 1;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    border-top-right-radius: 20px; border-bottom-right-radius: 20px;
}
.right_cont, .login {
    margin-left: 10%;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
    color: #666;
}

/* label[for="name"], label[for="username"], label[for="password"] {
    margin-bottom: 5px;
    display: block;
    margin-left: 10%;
} */

input[type="text"], input[type="email"], input[type="password"] {
    width: 80%;
    height: 60px;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10%;
}

.sign-up-btn {
    background-color: #629584;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1em;
    margin-bottom: 30px;
    margin-left: 10%;
    width: 80%;
}

.sign-up-btn:hover {
    background-color: #387478;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    width: 80%;
    margin-left: 10%;
}

.login a {
    text-align: right;
    text-decoration: none;
    color: #387478;
}

/* 미디어 쿼리 추가 */
@media (max-width: 600px) {
    .sign-up {
        flex-direction: column;
    }

}
.login a:hover {
    text-decoration: underline;
}

.main_page {
    display: flex;
    justify-content: right;
    width: 90%;
}

.main_page2 {
    text-decoration: none;
    color: #387478;
}
.main_page2:hover {
    text-decoration: underline;
}
