* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calendar {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

#monthYear {
    font-size: 1.5em;
}

button {
    border: none;
    background: #387478;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2e5b5b;
}

.days {
    display: flex;
    background: #f0f0f0;
}

.day {
    flex: 1;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.dates {
    display: flex;
    flex-wrap: wrap;
}

.date {
    flex: 1 0 14.28%; /* 7일 기준 */
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
}

.date:hover {
    background: #f0f0f0;
}
