/* 색상 */
:root {
    --first-color: #243642;
    --second-color: #387478;
    --third-color: #629584;
    --forth-color: #E2F1E7;
    --white: #FFF;
    --black: #000;
    --grey: #666;


    --bg-color: var(--forth-color);
    --bg-hover-color: var(--forth-color);
    --container-color: var(--white);
    --text-color-white: var(--white);
    --text-color-black: var(--black);
    --text-color-dark: var(--first-color);
    --text-color-light: var(--second-color);
    --text-color-grey: var(--grey);
    --button-color: var(--second-color);
    --button-hover-color: var(--first-color);
    --border-color: var(--grey);
    --gradient: linear-gradient(to top, var(--third-color), var(--first-color));
}

/* 테두리 모서리 */
:root {
    --container-border-radius: 20px;
    --container-top-border-radius: 20px 20px 0px 0px;
    --container-bottom-border-radius: 0px 0px 20px 20px;
    --sidebar-border-raduis: 0px 20px 20px 0px;
    --button-border-radius: 10px;
    --input-border-radius: 10px;
    --sns-border-radius: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

