/* 색상 */
:root {
    --first-color: #243642;
    --second-color: #387478;
    --third-color: #629584;
    --forth-color: #E2F1E7;
    --white: #FFF;
    --black: #000;
    --grey: #666;


    --bg-color: var(--forth-color);
    --bg-hover-color: var(--forth-color);
    --container-color: var(--white);
    --text-color-white: var(--white);
    --text-color-black: var(--black);
    --text-color-dark: var(--first-color);
    --text-color-light: var(--second-color);
    --text-color-grey: var(--grey);
    --button-color: var(--second-color);
    --button-hover-color: var(--first-color);
    --border-color: var(--grey);
    --gradient: linear-gradient(to top, var(--third-color), var(--first-color));
}

/* 테두리 모서리 */
:root {
    --container-border-radius: 20px;
    --container-top-border-radius: 20px 20px 0px 0px;
    --container-bottom-border-radius: 0px 0px 20px 20px;
    --sidebar-border-raduis: 0px 20px 20px 0px;
    --button-border-radius: 10px;
    --input-border-radius: 10px;
    --sns-border-radius: 50px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: var(--bg-color);
}

.container_main {
    display: flex;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 250px;
    background: var(--gradient);
    color: #fff;
    padding: 20px 0 20px 20px;
    border-top-right-radius: 20px; border-bottom-right-radius: 20px;

    /* 24.11.25 추가. 웹 페이지 하단에 뜨던 부분 없애줌 */
    height: 100vh;
    box-sizing: border-box;

    & h2 {
        margin-right: 7%;
    }
    & h2 {
        text-align: center;
        padding: 4px;
        border-radius: 10px;
    }
    & nav ul {
        list-style: none;
        padding: 0;
    }
    & nav ul li {
        /*padding: 10px;*/
        cursor: pointer;
        position: relative;
        & a {
            color: var(--text-color-white);
        }
        margin-left: 3em;
    }
    & nav ul li:hover {
        background-color: var(--bg-color);
        border-top-left-radius: 10px; border-bottom-left-radius: 10px;
        &:before, &:after {
            content: "";
            position: absolute;
            right: 0;
            border-radius: 50px;
            box-shadow: 10px 10px black;
            width: 30px; height: 30px;
        }
        &:before {
            bottom: 100%;
            box-shadow: 16px 16px var(--bg-hover-color);
        }
        &:after {
            top: 100%;
            box-shadow: 16px -16px var(--bg-hover-color);
        }
        & a {
            color: var(--text-color-black);
        }
    }
    .sidebar_pages {
        text-decoration: none;
        color: var(--text-color-white)  ;
        display: block;
        padding: 10px;
        transition: background-color 0.3s;
    }
}

.main-content {
    flex: 1;
    margin-top: 20px;
    padding: 0 20px;
    height: 97vh;
}

.header {
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 1em;
    height: 4%;
    background: var(--container-color);

    .welcome {
        border-radius: 10px;
        flex: 0.5;
        min-width: 300px;
    }
}

.search_bar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 120%;
}
.search {
    margin-right: 5px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    border: 2px solid var(--second-color);
    width: 40%; height: 2em;
}

.search-btn {
    width: 70px; height: 25px;
    margin-right: 80px;
    border-radius: 10px;
    border: none;
    background: var(--button-color);
    color: white;
    font-size: 15px;
}

.login_sign_up {
    display: flex;

    .login-btn, .sign-up-btn {
        width: 70px; height: 25px;
        margin-right: 5px;
        border: none;
        background: var(--button-color);
        color: white;
        border-radius: 10px;
        font-size: 13px;
        padding: 2px 5px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.login-btn:hover, .sign-up-btn:hover, .search-btn:hover{
    background: var(--button-hover-color);
    cursor: pointer;
}

/* 미디어 쿼리 추가 */
@media (max-width: 600px) {
    .search_bar {
        flex-direction: column;
        align-items: stretch;
    }
    .search {
        width: 100%;
        margin-bottom: 2em;
    }
    .search-btn {
        width: 100%;
    }
    .welcome {
        width: 100%;
    }
}

.ppl {
    width: 90%; height: 100%;
    border-radius: 20px;
    margin-top: 1em;
}
