/* 색상 */
:root {
  --first-color: #243642;
  --second-color: #387478;
  --third-color: #629584;
  --forth-color: #e2f1e7;
  --white: #fff;
  --black: #000;
  --grey: #666;
  --light-grey: #ccc;

  --bg-color: var(--forth-color);
  --bg-hover-color: var(--forth-color);
  --container-color: var(--white);
  --text-color-white: var(--white);
  --text-color-black: var(--black);
  --text-color-dark: var(--first-color);
  --text-color-light: var(--second-color);
  --text-color-grey: var(--grey);
  --button-color: var(--second-color);
  --button-hover-color: var(--first-color);
  --border-color: var(--grey);
  --gradient: linear-gradient(to top, var(--third-color), var(--first-color));
  --transparent: transparent;
}

/* 테두리 모서리 */
:root {
  --container-border-radius: 20px;
  --container-top-border-radius: 20px 20px 0px 0px;
  --container-bottom-border-radius: 0px 0px 20px 20px;
  --sidebar-border-raduis: 0px 20px 20px 0px;
  --button-border-radius: 10px;
  --input-border-radius: 10px;
  --sns-border-radius: 50px;
}

:root {
  --padding-big-size: 2em;
  --padding-middle-size: 1.5em;
  --padding-small-size: 1em;
  --margin-big-size: 2em;
  --margin-middle-size: 1.5em;
  --margin-small-size: 1em;
  --font-big-size: 2em;
  --font-middle-size: 1.5em;
  --font-small-size: 1em;
  /* --padding-big-size: 20px;
--padding-middle-size: 15px;
--padding-small-size: 10px;
--margin-big-size: 20px;
--margin-middle-size: 15px;
--margin-small-size: 10px;
--font-big-size: 2em;
--font-middle-size: 1.5em;
--font-small-size: 1em; */
}
