.calendar-days-row,
.calendar-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-day-name {
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: #555;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.calendar-cell {
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #f0f0f0;
  transition: all 0.2s ease;
}

.calendar-cell:hover {
  /* background-color: #f0f8ff; */
  background: var(--third-color);
}

.calendar-cell.selected {
  /* background-color: #007bff; */
  background: var(--forth-color);
  color: #000000;
  font-weight: bold;
}

.calendar-cell.disabled {
  color: #ddd;
  background-color: #f9f9f9;
  cursor: not-allowed;
}
